
    Einen Lebenslauf im PDF-Format können Sie hier herunterladen:<br/>
    <br/>
    <p style="width: 100%; padding-left: 1em; padding-right: 1em;">
      <a style="float: left; width: 45%; text-align: center; background-color: #666; padding: 0.5em;" download="Matthias-Deja-CV-Overview-de.pdf" href="/docs/Matthias-Deja-CV-Overview-de.pdf?build={{ getenv `TRAVIS_BUILD_NUMBER` }}">
        <img style="vertical-align: middle; padding-right: 1em;" alt="PDF" src="/images/pdf.png"/>
        <span style="white-space: nowrap;">Deutsche Version</span>
      </a>
      <a style="float: right; width: 45%; text-align: center; background-color: #666; padding: 0.5em;" download="Matthias-Deja-CV-Overview-en.pdf" href="/docs/Matthias-Deja-CV-Overview-en.pdf?build={{ getenv `TRAVIS_BUILD_NUMBER` }}">
        <img style="vertical-align: middle; padding-right: 1em;" alt="PDF" src="/images/pdf.png"/>
        <span style="white-space: nowrap;">Englische Version</span>
      </a>
      <div class="clear: both;">
        <br/>
      </div>
    </p>
  