<figure class="image portrait">
  <img src="/images/mdeja-portrait.png" alt="Matthias Deja"/>
</figure>
<p>
  <b>Made in Hannover</b>, 1975.
  Diese Stadt ist mir vertraut wie keine andere.
</p>
<p>
  Durch meine zwei <b>Töchter</b> erlebe ich ständig neu, wie schön und aufregend das Leben ist.
  Die Kinder und meine Lebensgefährtin sind die wichtigsten Personen in meinem Leben.
</p>
<p>
  Gelegentlich bleibt neben Arbeit und Familie noch etwas Zeit für meine <b>Hobbies</b>.
  Es sind dieselben, die ich schon als Teenager hatte:
  Computerspiele, Programmieren, Brettspiele und Pen&amp;Paper-Rollenspiele.
  Gelegentlich versuche ich Musik zu machen.
</p>
<p>
  Außerdem schaffe ich mir Raum für mehr <b>Achtsamkeit</b>.
  So will ich neben Plänen und Gedanken auch den aktuellen Augenblick zu erleben.
</p>
