<div class="table-wrapper">
      <table>
        <tbody>
          <tr>
            <td align="right"><b>Programmiersprachen</b></td>
            <td>Scala, Java, JavaScript und andere</td>
          </tr><tr>
            <td align="right"><b>Technologien</b></td>
            <td>AWS, Kubernetes, Spring, Kafka, Akka, Docker</td>
          </tr><tr>
            <td align="right"><b>Konzepte</b></td>
            <td>Agile, Microservices, funktionale Programmierung, TDD/BDD</td>
          </tr>
          
        </tbody>
      </table>
    </div>