
    <p>
      Enthusiastischer Programmierer.
      Gelegentlich Systemarchitekt, Analyst und Scrum Master.
      Über <b>15 Jahre Erfahrung</b> in der IT-Industrie.
    </p>
    <p>
      Durch die Umsetzung zahlreicher Projekte für mittelständische und große Unternehmen kenne ich mich mit vielen Technologien aus.
      Und ich erwerbe immer wieder neues Wissen, so wie es dem Projekt eben grade am meisten hilft.
    </p>
    <p>
      Technisch habe ich großes Interesse an <b>funktionaler Programmierung</b>, speziell an der Programmiersprache <b>Scala</b>.
      In organisatorischer Hinsicht liegt mein Augenmerk auf klaren Prozessen und Transparenz.
    </p>
    <p>
      Typischerweise arbeite ich teils vor Ort beim Kunden, und teils im heimischen Büro.
      Bei Projektbeginn wird ein wöchentlicher Rhythmus abgesprochen.
    </p>
    <p>
      Ich bin aufgeschlossen für <b>Festpreis-Projekte</b>, die ortsunabhängig umgesetzt werden.
      So werden nicht nur Reisekosten gespart.
      Der Verzicht auf das Pendeln setzt wertvolle Zeit und Ressourcen frei, die der fokussierten Arbeit zugute kommen.
    </p>
  