<p>
  Oft tätig für europaweit agierende Unternehmen, z.B. Vorwerk, Parfümerie Douglas, El Corte Inglés.
  Über <b>15 Jahre Erfahrung</b> in der IT-Industrie.
</p>
<p>
  Enthusiastischer Programmierer in <b>Scala und Java</b>.
  Zusätzlich <b>Systemarchitekt</b>, Analyst und Scrum Master.
  Mein größtes Interesse gilt Scala, Akka, Clustering und verwandten Technologien.
</b>
<b>
  Wenn ich als Teamleiter arbeite, liebe ich <b>klare Prozesse</b>.
  Dann stelle ich sicher, dass jeder weiß, was von ihm erwartet wird.
  Klare Verantwortlichkeiten sind meiner Erfahrung nach wichtig für das sprichwörtliche "Fun & Profit".
</b>
<p>
  So begleite ich Projekte von der Entstehung, als Architekt und Analyst, bis hin zur Umsetzung, als Softwareentwickler und Scrum Master.
</p>
<p>
  Nach dem typischen Modell arbeite ich teils <b>vor Ort</b> beim Kunden, und teils im heimischen Büro.
  In der Regel wird bei Projektbeginn ein fester wöchentlicher Rhythmus festgelegt.
</p>
<p>
  Ich bin auch aufgeschlossen für <b>Festpreis-Projekte</b>, die einen vorher festgelegten Rahmen haben und vollständig ortsunabhängig umgesetzt werden.
  So werden nicht nur Reisekosten gespart.
  Der Verzicht auf das Pendeln setzt wertvolle Zeit und Ressourcen frei, die sich in fokussierterer Arbeit umsetzen.
</p>
<p>
  Weitere Highlights aus meiner professionellen Laufbahn sowie einen <b>Lebenslauf</b> habe ich unter <a href="#Vita">Vita</a> angeführt.
</p>
